VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY="sb_publishable_QuiW3yZA41rG6sUrU-k7hg_2wgqxMKG"
VITE_HF_SPACE_URL=
VITE_ADMIN_PASSWORD=
# NEXT_PUBLIC_SUPABASE_URL=https://dmvhnvqbctszjqevealk.supabase.co
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_QuiW3yZA41rG6sUrU-k7hg_2wgqxMKG